.texting{
    position: absolute;
    top: 25%;
    width:100%;
    max width: 100%;
    color: rgb(37,37,43);
    font-family: 'Lato', sans-serif; 
   }

.text1{
    background-color: rgb(37, 37, 43);
}
#img{
    padding-left: 50%;
}

    body {
      background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/tic-tac-toe.png");
    }


    .box{
        position:relative;
      }
      
      .box2{
        position:relative;
      }
      .btn {
        background-color: #4150d3;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      
    
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
   
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
   
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
   
      .dropdown-content a:hover {background-color: #ddd;}
      
     
      .dropdown:hover .dropdown-content {display: block;}
      
    
      .dropdown:hover .dropbtn {background-color: #3e8e41;}