.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #181717dc;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(238, 248, 95);
}

td {
  background-color: rgb(254, 155, 105);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 13px;
}
