@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #1e2227;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #1e2227;
    z-index: 1;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.nav-icons img{
    width: 25px;
    cursor: pointer;
    margin-left: 30px;

}

.row{
    height: 100%;
    width: 100%;
    display: flex;
    
}

.col-1, .col-2 {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-2{
    background: red;
    padding-top: 8%;
    position: relative;
}

.col-1{
    padding-left: 8%;
}

.col-1 h1{
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.col-1 h2{
    font-size: 35px;
    font-weight: 500;
    margin-top: 60px;
}

button{
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: red;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.5s;
}

.feature-img{
    width: 100%;
    text-align: center;
}

.feature-img img{
    width: 80%;
    transform: rotate(-20deg);
}

.small-img-row{
    display: flex;
    width: 80%;
    margin: 70px auto 0;
    align-items: center;
    justify-content: space-around;
}

.small-img{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80px;
    background: #ccc;
    margin-left: 20px;
}

.small-img img{
    width: 120px;
    transform: translate(-50px,20px) rotate(-20deg);
}

.small-img:nth-child(1) {
    background: #b9c8ff;
}
.small-img:nth-child(2) {
    background: #91ffdd;
}
.small-img:nth-child(3) {
    background: #ff6767;
}
.small-img:nth-child(4) {
    background: #9dff90;
}

.col-2 h2{
    position: absolute;
    left: 10%;
    top: 22%;
    font-size: 130px;
    opacity: 0.3;
}

button:hover{
    background: #aa0505;
    transform: translateY(-5px);
}